@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer components{
  .button {
      @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out
  }
} */

/* This is for the animation CURSOR BLICK on the HERO component. */
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
 
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.header2image{
  
  background-image: url("/bgimage.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image:
  radial-gradient(50% 50% at 50% 50%, rgba(0, 163, 255, 0.33) 0%, rgba(217, 217, 217, 0) 100%), url("/bgimage.jpg");
}

#form{
  height: 500px;
  margin-bottom: 100px;
}